body, html{
	background: #EDEDED;
	font-size: 1em;
}

.toast{
	font-weight: 700 !important;
}

/* Font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../icons/material-icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

i.material-icons:before{display:none;}

/* Scroll Bar */
::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
	background: #333;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  background: rgba(150,150,150,0);
  height: 5px;
}
/* IE */
body {
scrollbar-face-color: #666;
scrollbar-track-color: #ddd;
}

.hidden{
	display: none !important;
	visibility: hidden;
}

/* Loading Screen */
.loading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #dcdcdc;
	z-index: 999999;
	border: 1px dashed #ababab;
	transition: all 0.5s ease;
	display: show; /* TODO - show */
}

.loading img{
	animation: jump 0.4s ease alternate infinite;
}

@keyframes jump{
	0%{transform: translate(0,0);}
	100%{transform: translate(0,20px);}
}

.loading p{
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 4px;
	font-family: "Courier";
	padding-left: 35px;
}

.loading.slideoff{
	opacity: 0.8;
	transform: scale(0.99) translate(150%, 0);
	pointer-events: none;
}

/* Basic Stylings */
.main{
	
}

.main > div{
	animation: fade 0.5s ease forwards;
}

.inner-tabs-content > div{
	animation: fade 0.5s ease forwards;
}

@keyframes fade{
	0%{opacity: 0; transform: translate(0, -10px);}
	100%{opacity: 1; transform: translate(0, 0);}
}

.dev-footer{
	position: fixed;
	bottom: 5px;
	right: 15px;
	background: teal;
	padding: 5px 10px;
	color: white;
	border-radius: 20px;
	transition: all 0.3s ease;
}

.dev-footer:hover{
	box-shadow: 0 0 2px 2px #656565;
}

.modal small{
	letter-spacing: 3px;
}

.modal p, .modal ol, .modal btn, .modal small, .modal .row{
	margin: 3px 0 !important;
}

.inner-tabs .active{
	background: #45a09a !important;
}

.inner-tabs .indicator{
	z-index: 99 !important;
	background: #ff0000 !important;
}

/* FOCUS SETTINGS PAGE */
#focus-settings table{
	border: 1px solid #DEDEDE;
}

#focus-settings td, #focus-settings th{
	padding: 2px 20px;
}

#focus-settings table{
	width: auto;
}

.social-list{
	display: flex;
}

#about a{
	padding: 2px 0;
	border-bottom: dotted 1px transparent;
}

.social-list a{
	margin: 0 10px 0 0;
	letter-spacing: 2px;
}

#about a:hover{
	border-bottom: dotted 1px black;
}

.social-list{
	margin: 5px 0 !important;
	padding: 0;
}

.donations-list{
	margin: 5px 0 0 0;
}

#already-donated{
	cursor: pointer;
}

/* EASTER */
.easter:after{
	visibility: hidden;
	opacity: 0;
	font-size: 0.6em;
	white-space: pre;
	position: absolute;
    bottom: 5px;
    left: 25px;
	transition: all 0.5s ease;
}

.easter:hover:after{
	visibility: visible;
	display: initial;
	opacity: 1;
}

.easter-1:after{
	content: '\A PS: Only if you are Determined.';
}








