::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.hidden{
	/* display: none; */
	visibility: hidden;
	opacity: 0;
	transform: rotateY(90deg);
	transition: all 0.2s 0s ease;
	max-height: 0;
	overflow: hidden;
}

@media screen and (max-width: 700px){
	.hidden{
		transform: none;
	}
}

.shown{
	/* display: inherit; */
	opacity: 1;
	visibility: visible;
	transform: rotateY(0);
	transition: all 0.5s 0.2s ease;
	max-height: 100vh;
	/* overflow: initial; */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #EDEDED;
}

main {
  flex: 1 0 auto;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: darkblue !important;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid darkblue !important;
  box-shadow: none !important;
}